.jumbotron {
    background-image: url("../images/jumbotron_bg.jpg");
    background-size: cover;
    text-decoration-color: beige;
  }

.jumbotron h1{
    color: #fff;
}

.jumbotron p{
    color: #fff;
}

body {
    background-color:black
  }

.projectDescription {
    color:blanchedalmond;
    text-align: center;
    font-size: large;
}